rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Basic rules for the demo
    match /spks/{spkId} {
      allow read, write: if true;
    }
    match /notifications/{notifId} {
      allow read, write: if true;
    }
    match /backupLogs/{logId} {
      allow read, write: if true;
    }
    match /config/{configId} {
      allow read, write: if true;
    }
  }
}
